name: XCode Test

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: /Applications/Xcode_11.5.app/Contents/Developer/usr/bin/xcodebuild test -scheme CityRanks -sdk iphonesimulator13.5 -destination "platform=iOS Simulator,name=iPhone 11,OS=13.5"
  sonarcloud:
    
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v1.3
      #with:
      # Set the sonar.projectBaseDir analysis property
        #projectBaseDir: # optional, default is .
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
